<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>编辑服务</title>
    <link href="scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css"/>
    <link href="skin/default/style.css" rel="stylesheet" type="text/css"/>
    <link href="skin/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <!---->
    <link href="css/iview.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/fileinput.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/fix.css" rel="stylesheet" type="text/css"/>
    <!---->
    <script type="text/javascript" src="scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/uploader.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/fileinput.js"></script>
    <script type="text/javascript" src="js/fileinput-locales.js"></script>
    <script type="text/javascript">
      $(function () {
        //初始化表单验证
        $("#form1").initValidform();
        //初始化上传控件
        $(".upload-img").InitUploader({sendurl: "tools/upload_ajax.html", swf: "scripts/webuploader/uploader.swf"});

        $('#txtArticleTitle').autocomplete({
          source: function (request, response) {
            $.ajax({
              url: "tools/admin_ajax.html?action=getautoarticle&t=" + Math.random(),
              dataType: "json",
              data: {
                name_startsWith: request.term
              },
              success: function (data) {
                response($.map(data.rows, function (item) {
                  return {
                    label: item.title,
                    value: item.title,
                    id: item.id
                  }
                }));
              }
            });
          },
          select: function (event, ui) {
            if (ui.item) {
              $("#hidArticleId").val(ui.item.id);
            }
          }
        });
      });
    </script>
</head>
<body class="mainbody">
<div id="app">
    <!--导航栏-->
    <div class="location"><a href="service.html" class="back"><i></i><span>返回列表页</span></a> <a href="center.html"
                                                                                               class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i> <span>服务管理</span></div>
    <div class="line10"></div>
    <!--/导航栏-->
    <!--内容-->
    <div id="floatHead" class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a href="javascript:;" onClick="tabs(this);" class="selected">服务内容</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <dl>
            <dt>所属类别</dt>
            <dd>
                <i-select v-model="serveType" style="width:200px">
                    <i-option value="">请选择</i-option>
                    <i-option :value="1">金融服务</i-option>
                    <i-option :value="2">家电服务</i-option>
                    <i-option :value="3">手机服务</i-option>
                    <i-option :value="4">娱乐生活服务</i-option>
                </i-select>
            </dd>
        </dl>
        <dl>
            <dt>状态</dt>
            <dd>
                <Radio-group v-model="activated" type="button">
                    <Radio :label="1">显示</Radio>
                    <Radio :label="2">隐藏</Radio>
                </Radio-group>
            </dd>
        </dl>
        <dl>
            <dt>服务标题</dt>
            <dd>
                <i-input v-model="serveTitle" placeholder="请输入..." style="width: 300px"></i-input>
            </dd>
        </dl>
        <dl>
            <dt>上传图片</dt>
            <dd>
                <div style="margin-bottom: 10px">原图：<span style="color: #337ab7;">{{imageUrl}}</span></div>
                <input id="file-id" type="file" class="file" name="shopFile" data-preview-file-type="text" ref="file"
                       @change="fileChange">
                <!--<input name="txtFilePath" type="text" id="txtFilePath" class="input normal upload-path"/>
                <div class="upload-box upload-img"></div>-->
                <span class="Validform_checktip">300px*300px</span>
            </dd>
        </dl>
        <dl>
            <dt>服务链接</dt>
            <dd>
                <i-input v-model="jumpUrl" placeholder="请输入..." style="width: 300px"></i-input>
            </dd>
        </dl>
    </div>
    <!--/内容-->
    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-list">
            <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" @click="submit" />
            <input name="btnReturn" type="button" value="返回上一页" class="btn yellow"
                   onClick="javascript: history.back(-1);"/>
        </div>
        <div class="clear"></div>
    </div>
    <!--/工具栏-->
</div>

<!---------------------------------------------------------------------------->

<script src="js/common.js"></script>
<script src="scripts/vue/vue.js"></script>
<script src="scripts/vue/vue-resource.min.js"></script>
<script src="scripts/vue/iview.min.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      serveId: -1,
      serveType: '',
      activated: 1,
      serveTitle: '',
      imageFile: '',
      imageUrl: '',
      jumpUrl: '',
    },
    mounted: function () {
      var serveItem = JSON.parse(sessionStorage.serveItem);

      this.serveId = serveItem.serveId;
      this.serveType = serveItem.serveType;
      this.activated = serveItem.activated;
      this.serveTitle = serveItem.serveTitle;
      this.imageUrl = serveItem.imageUrl;
      this.jumpUrl = serveItem.jumpUrl;

      $("#file-id").fileinput({
        language: 'zh', //设置语言
        uploadUrl: commonIp + 'shop/addShopBatch.do', //上传的地址
        allowedFileExtensions: ['jpg', 'png', 'gif'],//接收的文件后缀
        uploadExtraData: {name: 'shopFile'}, //额外的数据
        uploadAsync: true, //默认异步上传
        showUpload: false, //是否显示上传按钮
        showRemove: true, //显示移除按钮
        showCaption: true,//是否显示标题
        showPreview: false, //是否显示预览
        browseClass: "btn btn-primary", //按钮样式
        dropZoneEnabled: false,//是否显示拖拽区域
        autoReplace: true, //是否自动替换当前图片，设置为true时，再次选择文件，会将当前的文件替换掉
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        //maxFileSize: 0, //最大文件大小，单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount: true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
      });
    },
    methods: {
      fileChange: function (e) {
        // ...
        console.log(e.target.files[0]);

        this.imageFile = e.target.files[0];
      },
      submit: function() {
        var self = this;
        var oFormData = new FormData();

        oFormData.append('serveId', this.serveId);
        oFormData.append('serveType', this.serveType);
        oFormData.append('activated', this.activated);
        oFormData.append('serveTitle', this.serveTitle);
        oFormData.append('imageFile', this.imageFile);
        oFormData.append('jumpUrl', this.jumpUrl);

        this.$http.post(commonIp + 'serve/modifyServe.do', oFormData, {emulateJSON: true}).then(function (res) {
          // ...
          console.log(res.body);

          if (res.body.code === successCode) {
            // this.data = res.body;
            this.$Message.info(res.body.message);

          } else {
            this.$Message.error(res.body.message);
          }
        }, function () {
          window.alert('服务器错误');
        })
      },
    }
  })
</script>
</body>
</html>
<script type="text/javascript" charset="utf-8" src="js/redirect.js"></script>