<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>内容管理</title>
    <link href="scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css"/>
    <link href="skin/default/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/pagination.css" rel="stylesheet" type="text/css"/>
    <!---->
    <link href="css/iview.css" rel="stylesheet" type="text/css"/>
    <link href="css/fix.css" rel="stylesheet" type="text/css"/>
    <!---->
    <script type="text/javascript" src="scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/common.js"></script>
    <script type="text/javascript">
      $(function () {
        //图片延迟加载
        $(".pic img").lazyload({effect: "fadeIn"});
        //点击图片链接
        $(".pic img").click(function () {
          var linkUrl = $(this).parent().parent().find(".foot a").attr("href");
          if (linkUrl != "") {
            location.href = linkUrl; //跳转到修改页面
          }
        });
      });
    </script>
    <script type="text/javascript">
      //<![CDATA[
      var theForm = document.forms['form1'];
      if (!theForm) {
        theForm = document.form1;
      }
      function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
          theForm.__EVENTTARGET.value = eventTarget;
          theForm.__EVENTARGUMENT.value = eventArgument;
          theForm.submit();
        }
      }
      //]]>
    </script>
    <!--<style>
        .toolbar .l-list .icon-list li a {
            display: inline;
        }
    </style>-->
</head>
<body class="mainbody">
<div id="app">
    <form method="post" action="article_list.html?channel_id=7" id="form1">
        <!--<script src="/WebResource.axd?d=GjLbPWQeLbUE29s-O37otpicbDqQDaOohtouu2CA1CKKdkLTnK4uwu7r-gpwTm8yGJfhXDIelo8QtD0koZnRiWFqdPl6ZFI5e35vAtILScc1&amp;t=635794689389522500"-->
        <!--type="text/javascript"></script>-->
        <!--导航栏-->
        <div class="location"><a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a> <a
                href="center.html" class="home"><i></i><span>首页</span></a> <i class="arrow"></i> <span>内容列表</span></div>
        <!--/导航栏-->
        <!--工具栏-->
        <div id="floatHead" class="toolbar-wrap">
            <div class="toolbar">
                <div class="box-wrap"><a class="menu-btn"></a>
                    <div class="l-list">
                        <ul class="icon-list">
                            <li><a class="add" href="store_add.html"><i></i><span>导入</span></a></li>
                            <!--<li><a id="btnSave" class="save"><i></i><span>保存</span></a>-->
                            </li>
                            <li><a class="all" href="javascript:;" @click="selectAll"><i></i><span>全选</span></a>
                            </li>
                            <li><a id="btnDelete" class="del" @click="deleteData"><i></i><span>删除</span></a></li>
                        </ul>
                    </div>
                    <div class="r-list">
                        <input name="txtKeywords" type="text" id="txtKeywords" class="keyword" v-model="keyWords" />
                        <a id="lbtnSearch" class="btn-search" @click="getData">查询</a></div>
                </div>
            </div>
        </div>
        <!--/工具栏-->
        <!--列表-->
        <div class="table-container">
            <!--文字列表-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
                <tr>
                    <th width="6%">选择</th>
                    <th align="left" width="100">排序</th>
                    <th align="left" width="10%">所在城市</th>
                    <th align="left">门店名称</th>
                    <th align="left" width="10%">门店号码</th>
                    <th align="left">门店地址</th>
                </tr>
                <tr v-for="(item, index) in data.result">
                    <td align="center">
                        <span class="checkall" style="vertical-align:middle;">
                            <input type="checkbox" :value="item.shopId" v-model="checkboxItems"/>
                        </span>
                        <input type="hidden" name="rptList1$ctl10$hidId" id="rptList1_hidId_9" value="2658"/>
                    </td>
                    <td>
                        <input type="text" class="sort" onKeyDown="return checkNumber(event);" v-model="item.sortIndex"
                               @blur="changeIndex(item.shopId, item.sortIndex)"/>
                    </td>
                    <!-- <td>{{item.city}}</td> -->
                    <td>{{item.city}}</td>
                    <td>{{item.shopFullName}}</td>
                    <td>{{item.shopCode}}</td>
                    <td>{{item.location}}</td>
                </tr>
            </table>
            <!--/文字列表-->
        </div>
        <!--/列表-->
        <!--内容底部-->
        <div class="line20"></div>

        <div class="pagelist">
            <!--<div class="l-btns"><span>显示</span>
                <input name="txtPageNum" type="text" value="10"
                       onChange="javascript:setTimeout(&#39;__doPostBack(\&#39;txtPageNum\&#39;,\&#39;\&#39;)&#39;, 0)"
                       onKeyPress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" id="txtPageNum"
                       class="pagenum" onKeyDown="return checkNumber(event);"/>
                <span>条/页</span>
            </div>-->
            <!--<div id="PageContent" class="default"><span>共2578记录</span><span class="disabled">«上一页</span><span
                class="current">1</span><a href="article_list.html?channel_id=7&page=2">2</a><a
                href="article_list.html?channel_id=7&page=3">3</a><a
                href="article_list.html?channel_id=7&page=4">4</a><span>...</span><a
                href="article_list.html?channel_id=7&page=258">258</a><a
                href="article_list.html?channel_id=7&page=2">下一页»</a>
            </div>-->
            <Page :total="data.total" :page-size-opts="[10,20,30,40]" @on-change="changePage"
                  @on-page-size-change="changePageSize" show-total show-sizer/>
        </div>
    </form>
    <!--/内容底部-->
</div>

<!---------------------------------------------------------------------------->

<script src="js/common.js"></script>
<script src="scripts/vue/vue.js"></script>
<script src="scripts/vue/vue-resource.min.js"></script>
<script src="scripts/vue/iview.min.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      pageNum: 1,
      pageSize: 10,
      keyWords: '',
      data: {},
      checkboxItems: [],
    },
    created: function () {
      this.getData();
    },
    methods: {
      getData: function () {
        this.$http.post(commonIp + 'shop/getShopList.do', {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          keyWords: this.keyWords,
        }, {emulateJSON: true}).then(function (res) {
          if (res.body.code === successCode) {
            this.data = res.body;

          } else {
            window.alert('服务器错误');
          }
        }, function () {
          window.alert('服务器错误');
        })
      },
      checkboxChange: function (v) {
        console.log(v);
      },
      changePage: function (v) {
        this.pageNum = v;
        this.getData();
      },
      changePageSize: function (v) {
        this.pageSize = v;
        this.getData();
      },
      changeIndex: function (id, index) {
        this.$http.post(commonIp + 'shop/modifyShop.do', {
          shopId: id,
          sortIndex: index,
        }, {emulateJSON: true}).then(function (res) {
          if (res.body.code === successCode) {
            this.getData();

          } else {
            this.$Message.error(res.body.message);
          }
        }, function () {
          window.alert('服务器错误');
        })
      },
      deleteData: function () {
        const self = this;

        if (!this.checkboxItems.length) {
          this.$Message.warning('对不起，请选中您要操作的记录！');

        } else {
          this.$Modal.confirm({
            title: '提示',
            content: '<p>删除记录后不可恢复，您确定吗？</p>',
            onOk: function () {
              this.$http.post(commonIp + 'shop/deleteShopBatch.do', {
                shopIds: self.checkboxItems.join(','),
              }, {emulateJSON: true}).then(function (res) {
                if (res.body.code === successCode) {
                  self.checkboxItems = [];
                  self.getData();

                } else {
                  self.$Message.error(res.body.message);
                }
              }, function () {
                window.alert('服务器错误');
              })
            },
            onCancel: function () {
              console.log('cancel');
            }
          });
        }
      },
      selectAll: function() {
        var self = this;
        if (this.checkboxItems.length !== this.data.result.length) {
          this.checkboxItems = [];
          this.data.result.map(function(item) {
            self.checkboxItems.push(item.shopId);
          })
        } else {
          self.checkboxItems = [];
        }
      },
    }
  })
</script>
</body>
</html>
<script type="text/javascript" charset="utf-8" src="js/redirect.js"></script>