<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>访问服务</title>
    <link href="scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css"/>
    <link href="skin/default/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/pagination.css" rel="stylesheet" type="text/css"/>
    <!---->
    <link href="css/iview.css" rel="stylesheet" type="text/css"/>
    <link href="css/fix.css" rel="stylesheet" type="text/css"/>
    <!---->
    <script type="text/javascript" charset="utf-8" src="scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/datepicker/WdatePicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/common.js"></script>
    <script type="text/javascript">
      //<![CDATA[
      var theForm = document.forms['form1'];
      if (!theForm) {
        theForm = document.form1;
      }
      function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
          theForm.__EVENTTARGET.value = eventTarget;
          theForm.__EVENTARGUMENT.value = eventArgument;
          theForm.submit();
        }
      }
      //]]>
    </script>
</head>
<body class="mainbody">
<div id="app">
<form method="post" action="order_list.html" id="form1">
    <!--导航栏-->
    <div class="location"><a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a> <a
            href="center.html" class="home"><i></i><span>首页</span></a> <i class="arrow"></i> <span>访问服务</span></div>
    <!--/导航栏-->
    <!--工具栏-->
    <div id="floatHead" class="toolbar-wrap">
        <div class="toolbar">
            <div class="box-wrap"><a class="menu-btn"></a>
                <div class="l-list">
                    <ul class="icon-list">
                        <li><a id="btnSave" class="save" @click="exportCsv"><i></i><span>导出Excel</span></a></li>
                    </ul>
                </div>
                <div class="r-list">
                    <div class="single-date">
                        <input name="txtStartTime" type="text" id="txtStartTime" class="input rule-date-input" @change="changeTime($event, 'startTime')"
                               onFocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;})"
                               onchange="javascript: void(0)"
                               datatype="/^\s*$|^\d{4}\-\d{1,2}\-\d{1,2}\s{1}(\d{1,2}:){2}\d{1,2}$/" errormsg="请选择正确的日期"
                               sucmsg=" "
                               autocomplete="off"
                        />
                        -
                        <input name="txtEndTime" type="text" id="txtEndTime" class="input rule-date-input" @change="changeTime($event, 'endTime')"
                               onFocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;})"
                               onchange="javascript: void(0)"
                               datatype="/^\s*$|^\d{4}\-\d{1,2}\-\d{1,2}\s{1}(\d{1,2}:){2}\d{1,2}$/" errormsg="请选择正确的日期"
                               sucmsg=" "
                               autocomplete="off"
                        />
                    </div>
                    <div class="single-search">
                        <input name="txtKeywords" type="text" id="txtKeywords" class="keyword" style="width:180px;" placeholder="门店号、员工号" v-model="keyWords" />
                        <a id="btnSearch" class="btn-search" @click="getData">查询</a> </div>
                </div>
            </div>
        </div>
    </div>
    <!--/工具栏-->
    <!--列表-->
    <div class="table-container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
            <tr>
                <th width="6%">编号</th>
                <th align="left" width="15%">访客IP</th>
                <th align="left" width="20%">访问时间</th>
                <th align="left" width="20%">访问服务</th>
                <th align="left" width="20%">来自门店</th>
                <th align="left">关联工作人员</th>
            </tr>
            <tr v-for="(item, index) in data.result">
                <td align="center">{{item.visitId}}</td>
                <td>{{item.userIp}}</td>
                <td>{{formatDate(item.visitTime, 'yyyy-MM-dd hh:mm:ss')}}</td>
                <td>{{item.serveTitle}}</td>
                <td>{{item.shopName}}({{item.shopCode}})</td>
                <td>{{item.dealerName}}({{item.dealerCode}})</td>
            </tr>
        </table>
    </div>
    <!--/列表-->
    <!--内容底部-->
    <div class="line20"></div>
    <div class="pagelist">
        <!--<div class="l-btns"><span>显示</span>
            <input name="txtPageNum" type="text" value="10"
                   onChange="javascript:setTimeout(&#39;__doPostBack(\&#39;txtPageNum\&#39;,\&#39;\&#39;)&#39;, 0)"
                   onKeyPress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" id="txtPageNum"
                   class="pagenum" onKeyDown="return checkNumber(event);"/>
            <span>条/页</span></div>
        <div id="PageContent" class="default"><span>共160记录</span><span class="disabled">«上一页</span><span
                class="current">1</span><a href="order_list.html?page=2">2</a><a href="order_list.html?page=3">3</a><a
                href="order_list.html?page=4">4</a><span>...</span><a href="order_list.html?page=16">16</a><a
                href="order_list.html?page=2">下一页»</a></div>-->
        <Page :total="data.total" :page-size-opts="[10,20,30,40]" @on-change="changePage"
              @on-page-size-change="changePageSize" show-total show-sizer/>
    </div>
    <!--/内容底部-->
</form>
</div>

<!---------------------------------------------------------------------------->

<script src="js/common.js"></script>
<script src="scripts/vue/vue.js"></script>
<script src="scripts/vue/vue-resource.min.js"></script>
<script src="scripts/vue/iview.min.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      pageNum: 1,
      pageSize: 10,
      startTime: '',
      endTime: '',
      keyWords: '',
      data: {result: []},
      checkboxItems: [],
    },
    created: function () {
      this.getData();
    },
    methods: {
      changeTime: function(e, field) {
        this[field] = e.target.value;
        this.getData();
      },
      getData: function () {
        this.$http.post(commonIp + 'serveVisit/getServeVisitList.do', {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          startTime: this.startTime,
          endTime: this.endTime,
          keyWords: this.keyWords,
        }, {emulateJSON: true}).then(function (res) {
          if (res.body.code === successCode) {
            // ...
            console.log(res.body);

            this.data = res.body;

          } else {
            this.$Message.error(res.body.message);
          }
        }, function () {
          window.alert('服务器错误');
        })
      },
      checkboxChange: function (v) {
        console.log(v);
      },
      changePage: function (v) {
        this.pageNum = v;
        this.getData();
      },
      changePageSize: function (v) {
        this.pageSize = v;
        this.getData();
      },
      changeIndex: function (id, index) {
        this.$http.post(commonIp + 'shop/modifyShop.do', {
          shopId: id,
          sortIndex: index,
        }, {emulateJSON: true}).then(function (res) {
          if (res.body.code === successCode) {
            this.getData();

          } else {
            this.$Message.error(res.body.message);
          }
        }, function () {
          window.alert('服务器错误');
        })
      },
      deleteData: function () {
        const self = this;

        if (!this.checkboxItems.length) {
          this.$Message.warning('对不起，请选中您要操作的记录！');

        } else {
          this.$Modal.confirm({
            title: '提示',
            content: '<p>删除记录后不可恢复，您确定吗？</p>',
            onOk: function () {
              this.$http.post(commonIp + 'serve/deleteServeBatch.do', {
                serveIds: self.checkboxItems.join(','),
              }, {emulateJSON: true}).then(function (res) {
                if (res.body.code === successCode) {
                  self.checkboxItems = [];
                  self.getData();

                } else {
                  self.$Message.error(res.body.message);
                }
              }, function () {
                window.alert('服务器错误');
              })
            },
            onCancel: function () {
              console.log('cancel');
            }
          });
        }
      },
      selectAll: function() {
        var self = this;
        if (this.checkboxItems.length !== this.data.result.length) {
          this.checkboxItems = [];
          this.data.result.map(function(item) {
            self.checkboxItems.push(item.serveId);
          })
        } else {
          self.checkboxItems = [];
        }
      },
      formatDate: function(date, fmt) {
        if (date) {
          date = new Date(date);
        } else {
          return date;
        }

        if (/(y+)/.test(fmt)) {
          fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        var o = {
          'M+': date.getMonth() + 1,
          'd+': date.getDate(),
          'h+': date.getHours(),
          'm+': date.getMinutes(),
          's+': date.getSeconds()
        };
        for (var k in o) {
          if (new RegExp('('+k+')').test(fmt)) {
            var str = o[k] + '';
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : this.padLeftZero(str));
          }
        }
        return fmt;
      },
      padLeftZero: function (str) {
        return ('00' + str).substr(str.length);
      },
      exportCsv: function(obj) {
        var self = this;

        var obj = {
          title: "",
          titleForKey: "",
          data: ""
        };

        obj.title = ["编号", "访客IP", "访问时间", "访问服务", "来自门店", "关联工作人员"];
        obj.titleForKey = ["visitId", "userIp", "visitTime", "serveTitle", "shopName", "dealerCode"];

        var res = this.copy(this.data.result, true);

        res.forEach(function(item) {
          item.visitTime = self.formatDate(item.visitTime, 'yyyy-MM-dd hh:mm:ss');
        });

        var title = obj.title;
        var titleForKey = obj.titleForKey;
        var data = res;
        var str = [];
        str.push(obj.title.join(",") + "\n");
        for(var i = 0; i < data.length; i++) {
          var temp = [];
          for(var j = 0; j < titleForKey.length; j++) {
            if (j === 5) {
              if (!data[i]['dealerName'] || !data[i][titleForKey[j]]) {
                temp.push('-');
              } else {
                temp.push(data[i]['dealerName'] + '(' + data[i][titleForKey[j]] + ')');
              }
            } else {
              temp.push(data[i][titleForKey[j]]);
            }
          }
          str.push(temp.join(",") + "\n");
        }
        var uri = 'data:text/txt;charset=utf-8,\ufeff' + encodeURIComponent(str.join(""));
        var downloadLink = document.createElement("a");
        downloadLink.href = uri;
        downloadLink.download = "服务访问统计.csv";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      },
      copy: function(obj, deep) {
        var util = (function () {
          var tObj = {};
          ['Null', 'Undefined', 'Number', 'String', 'Boolean', 'Object', 'Function', 'Array', 'RegExp', 'Date'].forEach(function(item) {
            tObj['[object ' + item + ']'] = item.toLowerCase();
          });
          return {
            getType: function (obj) {
              return tObj[Object.prototype.toString.call(obj)] || 'object';
            },
            isType: function (obj, type) {
              return this.getType(obj) === type;
            }
          }
        })();
        if (obj === null || typeof obj !== 'object') {
          return obj;
        }
        var target = util.isType(obj, 'array') ? [] : {};
        for (var key in obj) {
          var value = obj[key];
          if (deep && util.getType(value) === 'array' || util.getType(value) === 'object') {
            target[key] = this.copy(value);
          } else {
            target[key] = value;
          }
        }
        return target;
      }
    }
  })
</script>
</body>
</html>
<script type="text/javascript" charset="utf-8" src="js/redirect.js"></script>